@use "../abstracts/variables" as vars;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Source+Sans+3:wght@400;500;600;700&display=swap');

body {
  font-family: vars.$font-sans;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: vars.$font-serif;
}

a, 
input[type="submit"] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

input,
fieldset,
textarea {
  border: none;
  background: none;
  outline: none;
  border-radius: 0.5rem;
}
