@use "../base/typography" as type;

.hero {
    background-image: url("/resources/assets/frontend/images/testBg.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;

    &__title {
        font-size: type.font-size("display");
        color: var(--color-primary-light) ;
    }

    &__para {
        color: var(--color-text-on-dark);
        font-size: type.font-size("body");
    }
}